/*头部区域*/
#header{
	width:100%;
	height:113px;
	border-bottom: 4px solid #196fb9;
}
#header .h_con{
	width:1000px;
	height:113px;
	margin:0px auto;
	box-sizing:border-box;
	padding-left:140px;
	background:url(../images/logo.png) 8px 14px no-repeat;
}
#header .h_con .h_con1{
	padding-top:15px;
	margin-left:275px;
	width:580px;
	height:30px;
	position: relative;
}
#header .h_con .h_con1 div{
	float:left;
}
.h_con .photo,.h_con .login,.h_con .add,.h_con .luggage{
	margin-top: 5px;
}
#header .h_con .h_con1 .photo{
	box-sizing:border-box;
	width:150px;
	height:20px;
	padding-left:25px;
	background: url(../images/photo.png)  no-repeat;
	font-weight: bold;
	font-size: 18px;
}
#header .h_con .h_con1 .photo a{
	color:#ffa000;
}
#header .h_con .h_con1 .login,#header .add{
	box-sizing:border-box;
	width:60px;
	height:20px;
	border-left: 2px solid #000;
	padding-left: 15px;
	line-height: 20px;
}
.login a,.add a,.luggage a{
	font-size: 18px;
	color:#3c3c3c;
}
#header .h_con .h_con1 .luggage a{	
	position: relative;
	box-sizing:border-box;
	display:inline-block;
	width:100px;
	height:20px;
	border-left: 2px solid #000;
	padding-left: 40px;
}
#header .h_con .h_con1 .luggage i{
	position: absolute;
	left:0px;
	top:-2px;
	display: inline-block;
	width:25px;
	height:24px;
	margin:0 10px;
	background:url(../images/5.png);
}
#header .h_con .h_con1 .search{
	position: absolute;
	right:0px;
	width:200px;
	height:30px;
	cursor: pointer;
	background:url(../images/search.png) no-repeat;
}
#header .h_con .h_con1 .search input{
	width:180px;
	height:0px;
}
/*搜索框*/
#header #ipt{
	position: absolute;
	top:2px;
	left:2px;
	width:150px;
	height:24px;
	border:none;
}
/*头部导航栏*/
#header .h_con .h_con2{
	width:656px;
	height:20px;
	margin-top:40px;
	margin-left: 55px;
	padding-left:60px;
	font-size: 18px;	
	background:url(../images/home.png) no-repeat;
}
#header .h_con2 ul li{
	display: inline-block;
	float: left;
	margin-right: 40px;
}
#header .h_con2 ul li a{
	color:#3c3c3c;
}
/*首页>目的地>台北*/
#show{
	width:100%;
}
#show .s_con{
	width:1000px;
	min-width: 1000px;
	height:53px;
	font-size: 18px;
	line-height: 53px;
	margin:0 auto; 
}
#show .s_con a{
	color:#3c3c3c;
}
/*台北*/
.content{
	width:1000px;
	margin: 0 auto;
	overflow: hidden;
}
.tb{
	height:340px;
}
.tb .tb-img{
	float: left;
	width:485px;
	height:340px;
	box-shadow: 5px 5px 5px #bfbfbf;
}
.tb-gt{
	width:485px;
	height:340px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	float: right;
}
.tb-gt h5{
	display: inline-block;
	width:100px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	border-left: 4px solid #51b23e;
	margin:10px 0;
}
.tb-gt span{
	margin-left: 20px;
}
.tb-gt span img{
	margin-right: 5px;
	vertical-align:middle;
}
.tb-gt .fl-gt{
	margin-left: 240px;
}
.tb-feature p{
	font-size: 14px;
	line-height: 30px;
}
/*台北推荐*/
.tb-city a{
	display: inline-block;
	padding:5px 10px;
	border:1px solid #51b23e;
	border-radius: 6px;
	color:#51b23e;
	margin-right: 20px;
	margin-top: 10px;
}
.tb-city .city-bg{
	background:#51b23e;
	color:#fff;
}
.tb-eval{
	float: right;
	margin-top: 30px;
}
.tb-eval span{
	padding:5px 10px;
	border:1px solid #6e6e6e;
	border-radius: 5px;
}
/*台北热门*/
.tb-h{
	overflow: hidden;
	margin-top: 20px;
	background:#f5f5f5;
}
.tb-hot{
	width:1000px;
	margin:0 auto;
}
.tb-hot h2{
	box-sizing:border-box;
	height:80px;
	padding:30px 0 20px 0px;
	font-size: 22px;
	font-weight: bold;
}
.tb-hot h2 img{
	margin-right: 10px;
	vertical-align:bottom;
}
.tb-hot2{
	margin:0 27px;
}
.tb-hot1{
	float: left;
	position: relative;
	width:315px;
	/*height:582px;*/
	background:#fff;
}
.tb-hot1 .tb-h-con{	
	width:315px;
	height:381px;
	
}
.tb-hot1 p{
	font-size: 14px;	
}
.tb-hot1 .h-cont{
	margin:10px 0;
	line-height: 20px;
	color:#868686;
}
.tb-hot1 p span{
	color:#3c3c3c;
	font-weight: bold;
	line-height: 28px;
}
.tb-h-img .tb-hot-images1{
	width:312px;
	height:220px;
	border:2px solid rgba(0,0,0,0.0);
}
.tb-h-img .tb-hot-images1:hover{
	border:2px solid #51b23e;
}
.tbHot_border{
	border:2px solid #51b23e;
}
.th-tiny1:hover{
	background:#e6e6e6;
}
/*图片上的标志*/
.hot-i{
	position: absolute;
	left:-7px;
	top:165px;
}
.hot-i img{
	float: left;
	vertical-align: bottom;
}
.hot-i .hot-i2{
	margin-top: 9px;
}
.hot-i span{
	margin-top: 9px;
	float: left;
	display: inline-block;
	height:30px;
	box-sizing:border-box;
	padding:6px 10px;
	font-size:18px;
	font-weight: bold;
	background:#51b23e; 
	color:#fff;
}

.tbh-cont{
	box-sizing:border-box;
	position: relative;
	height:140px;
	width:316px;
	padding:0 20px;
	border-bottom: 3px solid #f5f5f5;
}
.tb-h-con i{
	position: absolute;
	left:7px;
	top:132px;
	display: block;
	width:300px;
	height:13px;
	background:url(../images/yuan_03.png) no-repeat;
}
/*微行程*/
.tiny{
	margin-bottom: 20px;
}
.tiny h3{
	width:275px;
	margin:10px auto;
	font-size: 16px;
	color:#51b23e;
	line-height: 38px;
	border-bottom: 1px solid #a8d89e;
}
.tiny .th-tiny1{
	width:315px;
	height:57px;
	padding:10px 20px;
	/*background:#e6e6e6;*/
	box-sizing:border-box;
}
.th-tiny1 h5{
	font-size: 14px;

}
.tiny .th-tiny1 .tiny1-gt{
	float: right;
}
.tiny .th-tiny1 .tiny1-bg{
	font-size: 16px;
	color:#cc0000;
}
.tiny .th-tiny1 p{
	margin-top: 8px;
	font-size: 14px;
	color:#6e6e6e;
}
/*查看更多*/
.tb-more{
	height:65px;
}
.tb-more a{
	box-sizing:border-box;
	display: block;
	width:90px;
	padding:5px 14px;
	color:#51b23e;
	border:2px solid #51b23e;
	border-radius: 5px;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin-top: 22px;
}
/*台北酒店*/
.tb-hotel{
	overflow: hidden;
	width:1000px;
	margin:0 auto;
}
.tb-hotel .tb-hotel-title{
	position: relative;
	height:85px;
	font-size: 22px;
	color:#3c3c3c;
	
}
.tb-hotel .tb-hotel-title h3{
	display: inline-block;
	padding-left: 45px;
	line-height: 85px;
	margin-top: 10px;
}
.tb-hotel .tb-hotel-title img{
	position: absolute;
	top:40px;
	display: inline-block;
	vertical-align:middle;
}
.tb-hotel1{
	float: left;
	width:313px;
	height:304px;
	margin-bottom: 20px;
}
.tb-hotel2{
	margin:0 28px;
}
/*度假村*/
.tb-h-img{
	width:313px;
}
.tb-hotel-img1{
	width:313px;
	height:304px;
}
.tb-hotel1-img img{
	width:313px;
	height:221px;
}
.tb-hotel-name{
	box-sizing:border-box;
	height:46px;
	padding:0px 20px;
}
.tb-hotel-name h5{
	font-size: 16px;
	line-height: 46px;
	border-bottom:1px solid #e6e6e6;
}
/*hover底部边框设置蓝色*/
.tb-hotel .tb-hotel-com:hover{
	box-shadow: 5px 5px #2eb9d2;
}
.tb-tc .tb-hotel-com:hover{
	box-shadow: 5px 5px #ffa000;
}
.tb-hotel-com{
	height:37px;
	/*box-shadow: 5px 5px #2eb9d2;*/
	box-shadow: 5px 5px #d2d2d2;
}
.tb-hotel-com .com-lt{
	display: inline-block;
	width:155px;
	height:23px;
	margin-top: 10px;
	border-right: 1px solid #e6e6e6;
}
.tb-hotel-com span{
	display: inline-block;
	width:150px;
	height:23px;
	text-align: center;
}
.tb-hotel-com span img{
	vertical-align: middle;
	margin-right: 5px;
}
.tb-hotels{
	overflow: hidden;
	position: relative;
}
/*鼠标悬浮效果*/
.tb-hotel1:hover .tb-h-map{
	display: block;
}
.tb-h-map {
	display:none;
	width:312px;
	height:221px;
	position: absolute;
	top:0px;
}
/*台北酒店查看更多*/
.tb-hotel .tb-more a{
	color:#2eb9d2;
	border-color: #2eb9d2;
}
.tb-hotel{
	border-bottom: 1px solid #e6e6e6;
}
/*台北特产*/
.tb-tc{
	width:1000px;
	margin:0 auto;
}
.tb-gl-cont{
	width:1000px;
	margin:0 auto;
}
.tb-tc .tb-tc-title{
	height:74px;
}
.tb-tc-lt{
	position: relative;
	float: left;
	width:160px;
}
.tb-tc-lt h3{
	display: inline-block;
	font-size: 22px;
	line-height: 74px;
	padding-left: 40px;
}
.tb-tc-lt img{
	position: absolute;
	top:20px;
}
/*伴手礼|美食*/
.tb-tc-gt{
	float: right;
	width:160px;
	margin-top: 30px;
}
.tb-tc-gt .tb-gt-yellow{
	padding:5px 10px;
	color:#ffa000;
	font-size: 20px;
	border-right: 1px solid #e6e6e6;
}
.tb-tc-gt .tb-gt-yellow span{
	padding:5px 0;
	border-bottom: 2px solid #ffa000;
}
.tb-tc-gt a{
	color:#3c3c3c;
	font-size: 20px;
	margin-right: 10px;
}
.tb-tc .tb-hotels{
	height:368px;
}
.tb-tc .tb-hotels .tb-hotel1{
	height:368px;
}
.tb-tc .tb-hotels .tb-hotel1 .tb-hotel-img1{
	height:368px;
}
.tb-tc .tb-hotels .tb-hotel1 .tb-hotel-img1 .tb-hotel-name{
	height:80px;
	padding:0;
}
.tb-tc .tb-hotel-com{
	border-top: 1px solid #e6e6e6;
}
.tb-tc .tb-hotel-name h5{
	border:none;
	line-height: 20px;
	margin:10px 0px;
	padding-left: 10px;
	border-left: 4px solid #ffa000;
}
.tb-tc .tb-hotel-name p{
	color:#a5a5a5;
	font-size: 12px;
	margin: 0 20px;
}
/*台北攻略*/
.tb-gl{
	width:100%;
	background:#f5f5f5;
}
.tb-gl .tb-hotel-title{
	position: relative;
	height:80px;
}
.tb-gl .tb-hotel-title h3{
	display: inline-block;
	line-height: 80px;
	font-size: 22px;
	padding-left: 40px;
}
.tb-gl .tb-hotel-title img{
	position: absolute;
	top:20px;
}
/*台北攻略轮播图*/
.tb-outer{
	overflow: hidden;
	position: relative;
	width:1000px;
	height:307px;
	margin-bottom: 20px;
}
.tb-inner{
	width:1000px;
	height:307px;
	overflow: hidden;
}
.tb-con{
	width:889px;
	height:307px;
	margin:0 auto;
}
#btn-lt:hover,#btn-gt:hover{
	background:#abdaa2;
}
#btn-lt,#btn-gt{
	position: absolute;
	top:0;
	display: inline-block;
	width:48px;
	height:307px;
	background:#eee;
}
#btn-lt img,#btn-gt img{
	margin-top: 130px;
	margin-left: 15px;
}
#btn-gt{
	right:0;
}
/*左边大图*/
.li-lt{
	float: left;
	width:312px;
	height:306px;

}
.li-MaxImg img{
	width:308px;
	height:220px;
	border:2px solid rgba(0,0,0,0.0);
	box-sizing:border-box;
}
/*hover效果*/
.li-MaxImg img:hover{
	border:2px solid #51b23e;
}
.li-minImg .minImg1:hover{
	border:2px solid #51b23e;
}
/*左边小图*/
.li-minImg{
	height:64px;
	margin-top: 15px;
}
.li-minImg .minImg1{
	box-sizing:border-box;
	float: left;
	width:94px;
	height:68px;
	border:2px solid rgba(0,0,0,0.0);
}
.li-minImg .minImg1 img{
	width:90px;
	height:64px;
}
.li-minImg .minImg2{
	margin:0 12px;
}
/*右边信息*/
.li-gt{
	float: right;
	width:560px;
	height:307px;
}
.author{
	height:100px;
}
.author img{
	float: left;
	
}
.author .author-name{
	float: left;
	width:300px;
	height:100px;
	margin-left: 20px;
}
.author .author-name h5{
	margin-top: 50px;
}
.author .author-name p{
	margin-top: 10px;
}
.author .author-name p span{
	display: inline-block;
	width:60px;
}
/*右边文字部分*/
.li-gt-cont{
	width:560px;
	height:135px;
	margin-top: 25px;
}
.li-gt-cont h5{
	font-size: 18px;
}
.li-gt-cont .li-font{
	font-size: 14px;
	line-height: 45px;
}
.li-gt-cont .gt-font{
	color:#6e6e6e;
	font-size: 14px;
	line-height: 25px;
}
.li-gt-cont p{
	margin-left: 5px;
}
.li-font .blue{
	color:#1f71b8;
}
.li-font .mid{
	margin:0 25px;
}
.li-font .gt{
	margin-left:25px;
}
.li-font .red{
	color:#cc0000;
}
/*评论*/
.tb-comment{
	width:1000px;
	margin:0 auto;
	overflow:hidden;	
}
/*左边评论区*/
.tb-com-lt{
	float: left;
	width:700px;
}
.tb-com-gt{
	margin-top: 20px;
}
/*游记*/
.tn{
	margin-bottom:20px;
}
.tn .tn_name{
	height:38px;
	background:#51b23e;
	padding:8px 20px;
	box-sizing:border-box;
	color:#fff;
	font-size: 18px;
	margin-top: 20px;
}
.tn .tn_con{
	width:700px;
	height:135px;
}
.tn .tn_head{
	float: left;
	box-sizing:border-box;
	width:100px;
	height:100px;
	padding:20px;	
}
.tn .tn_con .tn_head p{
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
}
.tn .tn_text{
	float: right;
	width:590px;
	height:99px;
	margin-top:20px;
	border:1px solid #6e6e6e;
}
/*评论区*/
.tn .tn_text p{
	font-size: 14px;
	color:#6e6e6e;
	text-align: center;
	
}
.tn .tn_text p a{
	color:#ffa000;
	border-bottom: 1px solid #ffa000;
	font-weight: bold;
	line-height: 99px;
}
.tn .tn_com{
	float: right;
	width:98px;
	height:65px;
}
.tn .tn_com p{
	font-size: 12px;
	color:#6e6e6e;
}
.tn .tn_com a{
	float: right;
	display: block;
	width:80px;
	height:25px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	background:#5ab4f5;
	margin:20px 0;
}
/*评语*/
.tn-list{
	overflow: hidden;
	width:700px;
	font-size: 14px;
	color:#6e6e6e;
}
.tn-list .tn_head p{
	width:70px;
	text-align: center;
	margin-top: 15px;
}
.tn-list .tn-list-con{
	float:right;
	width:590px;
}
.tn-list .tn-list-con p{
	font-size: 14px;
	color:#3c3c3c;
	margin-top:20px;
}
.tn-list-date{
	float:right;
	margin-top:50px;
	border:1px dashed #898989;
	border-right: none;
	border-left: none;
	width:590px;
	padding:5px 0;
}
.tn-list-date .tnDate-lt{
	float:left;
}
.tn-list-date .tnList-gt{
	float: right;
}
.tn-list-date .tnList-gt span{
	margin:0 10px;
}
.tn-list-date .tnList-gt img{
	margin-right: 5px;
	vertical-align:middle;
}
.tn-list-date .tnList-gt a{
	color:#176fbb;
}
/*更多评论*/
.tn-lists{
	width:700px;
	height:137px;
}
.tn-more{
	width:593px;
	height:365px;
	margin-left: 110px;
}
.com1-lt{
	float: left;
}
.com1-gt{
	float: right;
	width:522px;
	height:110px;
}
.com1-gt h4{
	margin-bottom: 10px;
}
.com1-gt p{
	line-height:20px; 
}
.tn-more-com1{
	overflow: hidden;
	margin-top: 20px;
}
.com1-gt-date{
	margin-top: 10px;
}
.com1-gt-date span{
	color:#176fbb;
	margin-left: 10px;
}
.tn-mores .tn_text{
	float: left;
	width:585px;
	height:60px;
	border-color:#e5e5e5;
}
.tn-mores .tn_com{
	margin-top: 10px;
	margin-right: 5px;
}
#textarea{
	width:587px;
	height:62px;
}
/*提示框*/
.tn_text {
    position: relative;
}
.tooltip {
    border:1px solid #e6e6e6;
    color: #6e6e6e;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom:65px;
    left: 340px;
    margin-left: -60px;
    box-shadow: 2px 2px 5px #e6e6e6;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #e6e6e6 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tn_text span img{
	vertical-align: middle;
	margin-right: 5px;
}
/*分页*/
.page{
	width:265px;
	height:20px;
	margin:35px auto;
	font-size: 12px;
	color:#3c3c3c;
	padding:0px ;
	line-height: 20px;
	text-align: center;
}
.page .bg{
	display: inline-block;
	width:30px;
	height:20px;
	background:#2eb9d2;
	border-radius: 5px;
}
.page a{
	color:#6e6e6e;
}

/*右边广告区*/
.tb-com-gt{
	float: right;
	width:270px;
}
/*页脚信息*/
#footer{
	width:100%;
	min-width: 1000px;
	background:#023c4d;
}
.serve{
	width:800px;
	height:178px;
	margin:0 auto;
}
.about,.help,.web{
	float: left;
	width:150px;
	margin-top:25px;
}
.fl_us{
	float: left;
	width:170px;
	margin-top:25px;
}
.contact{
	float: left;
	width:180px;
	margin-top:25px;
}
.serve h5{
	font-size: 18px;
	color:#fff;
}
.about ul li a,.help ul li a,.web ul li a{
	display: block;
	font-size: 16px;
	color:#fff;
	line-height: 30px;
}
/*关注我们*/
.fl_us a{
	display: block;
	width:76px;
	height:34px;
	margin-top: 22px;
	background:url(../images/weixin.png) no-repeat; 
}
/*联系电话*/
.contact h3{
	font-size: 28px;
	color:#fff;
}
.contact h4{
	font-size: 18px;
	color:#fff;
	line-height: 30px;
}
.contact a{
	display: block;
	width:130px;
	height:25px;
	background:#fff;
	border-radius: 5px;
	color:#023c4d;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	margin-top: 15px;
}

/*页脚版权信息*/
.copy{
	width:100%;
	height:55px;
	border-top: 2px solid #fff;
}
.copy p{
	display: block;
	width:560px;
	height:20px;
	margin:15px auto;
	font-size: 14px;
	color:#fff;
}