/*头部区域*/
#header{
	width:100%;
	height:113px;
	border-bottom: 4px solid #196fb9;
}
#header .h_con{
	width:1000px;
	height:113px;
	margin:0px auto;
	box-sizing:border-box;
	padding-left:140px;
	background:url(../images/logo.png) 8px 14px no-repeat;
}
#header .h_con .h_con1{
	padding-top:15px;
	margin-left:275px;
	width:580px;
	height:30px;
	position: relative;
}
#header .h_con .h_con1 div{
	float:left;
}
.h_con .photo,.h_con .login,.h_con .add,.h_con .luggage{
	margin-top: 5px;
}
#header .h_con .h_con1 .photo{
	box-sizing:border-box;
	width:150px;
	height:20px;
	padding-left:25px;
	background: url(../images/photo.png)  no-repeat;
	font-weight: bold;
	font-size: 18px;
}
#header .h_con .h_con1 .photo a{
	color:#ffa000;
}
#header .h_con .h_con1 .login,#header .add{
	box-sizing:border-box;
	width:60px;
	height:20px;
	border-left: 2px solid #000;
	padding-left: 15px;
	line-height: 20px;
}
.login a,.add a,.luggage a{
	font-size: 18px;
	color:#3c3c3c;
}
#header .h_con .h_con1 .luggage a{	
	position: relative;
	box-sizing:border-box;
	display:inline-block;
	width:100px;
	height:20px;
	border-left: 2px solid #000;
	padding-left: 40px;
}
#header .h_con .h_con1 .luggage i{
	position: absolute;
	left:0px;
	top:-2px;
	display: inline-block;
	width:25px;
	height:24px;
	margin:0 10px;
	background:url(../images/5.png);
}
#header .h_con .h_con1 .search{
	position: absolute;
	right:0px;
	width:200px;
	height:30px;
	cursor: pointer;
	background:url(../images/search.png) no-repeat;
}
#header .h_con .h_con1 .search input{
	width:180px;
	height:0px;
}
/*搜索框*/
#header #ipt{
	position: absolute;
	top:2px;
	left:2px;
	width:150px;
	height:24px;
	border:none;
}
/*头部导航栏*/
#header .h_con .h_con2{
	width:656px;
	height:20px;
	margin-top:40px;
	margin-left: 55px;
	padding-left:60px;
	font-size: 18px;	
	background:url(../images/home.png) no-repeat;
}
#header .h_con2 ul li{
	display: inline-block;
	float: left;
	margin-right: 40px;
}
#header .h_con2 ul li a{
	color:#3c3c3c;
}
/*首页*/
#show{
	width:100%;
}
#show .s_con{
	width:1000px;
	min-width: 1000px;
	height:53px;
	font-size: 18px;
	line-height: 53px;
	margin:0 auto; 
}
#show .s_con a{
	color:#3c3c3c;
}
/*预定步骤*/
.step{
	min-width:1345px;
	height:32px;
	margin-top:20px;
}
.step .step1{
	width:380px;
	height:32px;
}
.step .step4{
	width:369px;
	height:32px;
}
.step div{
	display: inline-block;	
}
/*预定信息*/
.content{
	width:1000px;
	margin:0 auto;
	margin-bottom: 30px;
	overflow: hidden;
}
.message{
	float: left;
	width:562px;
	height:760px;
	padding:20px;
	border:1px solid  #3c3c3c;
	box-sizing:border-box;
	font-size: 14px;
	
}
.message .message-name{
	width:450px;
	height:25px;
	margin-bottom:10px; 
	border-bottom:1px dashed  #3c3c3c;
}
.booking input,.booking select{
	width:138px;
	height:25px;
	margin-bottom: 20px;
	text-indent: 10px;
}
.booking .check-in{
	box-sizing:border-box;
	padding-left:33px;
	background:url(../images/ipt_03.png) 5px 1px no-repeat; 
	
}
.booking{
	position: relative;
}
.booking img{
	position: absolute;
	z-index: 5;
	left:100px;
}
.booking p{
	font-size: 12px;
	color:#6e6e6e;
	margin-left:70px;
	margin-bottom: 20px;
}
/*联系人信息*/
.linkman{
	width:520px;
	height:130px;
	border:1px solid #6e6e6e;
	border-left: none;
	border-right: none;
	padding:20px 0;
}
.linkman .linkman-name{
	height:35px;
	line-height: 35px;
	border-bottom:1px dashed  #3c3c3c;
}
.linkman .linkman-name span{
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
.linkman p{
	font-size: 12px;
	color:#6e6e6e;
	display: inline-block;
	
}
.linkman .linkman-photo{
	width:113px;
	height:25px;
	margin: 10px 0 10px 10px;
}
.linkman .linkman-photo2{
	width:150px;
	height:25px;
}
.linkman .email{
	width:200px;
	height:25px;
	margin-top: 10px;
	margin-left: 30px;
}
/*需要发票*/
.invoice h5{
	display: inline-block;
	width:300px;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
}
.invoice span{
	width:10px;
	height:10px;
	color:#ffa000;
	font-weight: bold;
	border:1px solid #3c3c3c;
}
.invoice input,.invo-type{
	width:405px;
	height:25px;
	margin-bottom: 20px;
}
.invoice p{
	font-size: 12px;
	color:#6e6e6e;
}
.invoice{
	position: relative;
}
.wenhao{
	position: absolute;
	right:10px;
	top:53px;
}
/*预收房费 提交订单*/
.sub-order{
	float: right;
}
.sub-order p{
	width:150px;
	height:20px;
	font-size: 18px;
	font-weight: bold;
	margin-left: 100px;
	margin-top: 10px;
}
.sub-order span{

	color:#cc0000;
}
 .sub-order .amend{
 	display: inline-block;
	width:72px;
	height:12px;
	font-size: 12px;
	color:#ffa000;
	margin-top: 25px;
	margin-right: 50px;
	border-bottom: 1px solid #ffa000;
}
.sub{
	display: inline-block;
	width:134px;
	height:35px;
	background:#ffa000;
	color:#fff;
	border-radius: 10px;
	line-height: 35px;
	text-align: center;
}
/*您的选择*/
.choose{
	float: left;
	width:400px;
	height:410px;
	margin-left: 30px;
	border:1px solid  #3c3c3c;
}
.choose h3{
	height:37px;
	background:#d2d2d2;
	line-height: 37px;
	font-size: 16px;
	padding-left: 20px;
}
.choose .choose-list img{
	width:154px;
	height:108px;
}
.choose-list{
	padding:20px;
	height:110px;
}
.choose-list .ch-li{
	float: right;
	width:160px;
	height:110px;
	margin-right: 15px;
}
.choose-list .ch-li img{
	width:110px;
	height:35px;
	margin-bottom: 40px
}
.choose-list .ch-li span{
	display: block;
}
.choose-list .ch-li h5{
	font-size: 14px;
	margin-left: 7px;
}
.choose p{
	margin-left: 20px;
	line-height: 30px;
}
.choose-mess .font-red{
	color:#cc0000;
	font-size: 16px;
	font-weight: bold;
}
.choose-mess .choose-gt{
	margin-left: 300px;
}
/*您的选择》服务*/
.ch-serve  span{
	display: inline-block;
	width:90px;
	height:20px;
}
.ch-serve span .ch-serve-img{
	width:20px;
	height:20px;
	vertical-align: middle;
	margin-right: 2px;
}
/*页脚信息*/
#footer{
	width:100%;
	min-width: 1000px;
	background:#023c4d;
}
.serve{
	width:800px;
	height:178px;
	margin:0 auto;
}
.about,.help,.web{
	float: left;
	width:150px;
	margin-top:25px;
}
.fl_us{
	float: left;
	width:170px;
	margin-top:25px;
}
.contact{
	float: left;
	width:180px;
	margin-top:25px;
}
.serve h5{
	font-size: 18px;
	color:#fff;
}
.about ul li a,.help ul li a,.web ul li a{
	display: block;
	font-size: 16px;
	color:#fff;
	line-height: 30px;
}
/*关注我们*/
.fl_us a{
	display: block;
	width:76px;
	height:34px;
	margin-top: 22px;
	background:url(../images/weixin.png) no-repeat; 
}
/*联系电话*/
.contact h3{
	font-size: 28px;
	color:#fff;
}
.contact h4{
	font-size: 18px;
	color:#fff;
	line-height: 30px;
}
.contact a{
	display: block;
	width:130px;
	height:25px;
	background:#fff;
	border-radius: 5px;
	color:#023c4d;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	margin-top: 15px;
}

/*页脚版权信息*/
.copy{
	width:100%;
	height:55px;
	border-top: 2px solid #fff;
}
.copy p{
	display: block;
	width:560px;
	height:20px;
	margin:15px auto;
	font-size: 14px;
	color:#fff;
}